{% extends "base.html"%}
{% block content %}
<title>Home</title>
<div class="container">

    <div class="grid-container">
        <div class="grid-intro">
            <h3>Tired with notebooks? So are we!</h3>
            <p>Sign up with orderly and be free from the hassel of carrying books.</p>
            <a class="sign-up" href="/signup">Sign Up</a>
        </div>

        <div class="grid-form">
            <h3>Sign In</h3>
            <form  method="POST">
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" required>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password" required>
                </div>
                <input type="submit"  class="btn btn-primary" value="Sign In">
            </form>
    </div>
    </div>

</div>


{% endblock %}