{% extends "base.html" %}
{% block content %}
<div class="container">
<div class="card">
    <div class="card-header"><i class="far fa-user-circle"></i>
      User profile
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><i class="fas fa-user-alt"></i> Name: {{profile.name}}</li>
      <li class="list-group-item"><i class="fas fa-at"></i> Email Address: {{profile.email}}</li>
    </ul>
    <a class="btn btn-success" href="/edit_profile/{{profile.id}}">Update Profile</a>
    <a class="btn btn-danger" href="/profile_delete/{{profile.id}}">Delete Profile</a>

  </div>
</div>

{% endblock %}